.placesNavWrapper{
    height: 100vh;
    .placesNavHeader{
        height: 10%;
        width: 100%;
        header{
            background-color:white;
            position: fixed;
            display:block;
        }
    }
    .places-contents{
        height: 90%;
    }
}