.placesNavWrapper{
    height: 1000px;
    .placesNavHeader{
        height: 80px;
        header{
            z-index: 200;
            background-color:white;
            position: fixed;
            display:block;
        }
    }
}