.recommendation-slider{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    .recommendation-grid{
        display: flex;
        flex-wrap: wrap;
        .card-wrapper{
            padding: 1em 0.5em;
            text-decoration: none;
            .medium-card-wrapper{
                display: flex;
                flex-wrap: wrap;
                .medium-card{
                    padding: 0.1em 0.1em;
                    cursor: pointer;
                    border-radius: 1%;
                    transition: 500ms ease;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    &:hover{
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }
                    .medium-card-slide{
                        padding-bottom: 70%;
                        border-radius: 3px;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .medium-card-desc{
                        display: flex;
                        padding: 0.5em 0em;
                        flex-wrap: wrap;
                        text-align: left;
                        font-size: 20px;
                        .medium-card-place-category{
                            width: 100%;
                            font-size: 0.8em;
                            color: rgba(0, 0, 0, 0.5);
                            font-weight: bold;
                        }
                        .medium-card-place-name{
                            width: 100%;
                            font-weight: 650;
                            padding: 0.1em 0em;
                            font-size: 1em;
                            color: rgba(0, 0, 0, 0.8);
                        }
                        .medium-card-place-price{
                            width: 100%;
                            font-size: 0.8em;
                            color: rgba(0, 0, 0, 0.8);
                        }
                        .medium-card-place-rating{
                            width: 100%;
                            padding: 0.1em 0em;
                            font-size: 0.6em;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: rgba(0, 0, 0, 0.8);
                            .medium-card-place-reputations{
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }
        }
        .recommendation-title{
            color: #727272;
            text-align: left;
            width: 100%;
        }
        .show-all-btn{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .link-to-place{
                font-weight: 600;
                font-size: 1.2em;
                color: teal;
                text-decoration: none;
            }
        }
    }
}

.slider-control{
    position: absolute;
    width: 100%;
    height: 400px;
    max-width: 1200px;
    display: inline-flex;
    align-items: center;
    .slider-controller-backward{
        width: 50%;
        height: 100px;
        margin: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .slider-controller-forward{
        width: 50%;
        height: 100px;
        margin: 10px;
        display: flex;
        align-items: center;
        float: right;
    }
    .square-slider-backward{
        cursor: pointer;
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0.5px 0.5px 1.5px 0.5px #727272;
        z-index: 3;
        &:active{
            border: 1px solid black;
        }
    }
    .square-slider-forward{
        cursor: pointer;
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0.5px 0.5px 1.5px 0.5px #727272;
        z-index: 3;
        &:active{
            border: 1px solid black;
        }
    }
    .arrow-slider-backward{
        height: 5px;
        width: 5px;
        margin-left: 2px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: black;
        cursor: pointer;
        z-index: 4;
        transform: rotate(-135deg);
    }
    .arrow-slider-forward{
        height: 5px;
        width: 5px;
        margin-right: 2px; 
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: black;
        cursor: pointer;
        z-index: 4;
        transform: rotate(45deg);
    }
}