$basic-color: #008489;

.basic-info-wrapper{
    @media all and (min-width:1025px) {
        position: absolute;
        display: none;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        height: 100%;     
        position: absolute;
        overflow: auto;
    }
    @media all and (max-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .basic-info-container{
        padding: 1em;
    }
}