.expD_Wrapper{
    
    .expD_ShowAllGalery{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 5000;
        // display:flex;
        justify-content: center;
        background-color: #575757e8;
        padding-top: 5vh;
        display:none;
        .image-gallery-image{
            width: 90vw;
            // margin-top: 5vh;
            height: 70vh;
        }
        .closeShowAllGallery{
            height: 20px;
            button{
                outline: none;
                border: none;
                background-color:transparent;
                font-size: 20px;
                cursor: pointer;
                border-radius: 50%;
                transition-duration: 0.5s;
                &:active{
                    background-color:#0000006e;
                }
            }
        }
    }
    //Review Div
    .expD_review{
        display:flex;
        justify-content: left;
        padding: 50px;
        .expD_reviewLeft{
            display: inline-block;
            width: 30vw;
            font-weight: 700;
            text-align: left;
            .expD_reviewLeftTitle{
                font-size: 32px;
                color: rgb(72, 72, 72)
            }
            .expD_reviewLeftRating{
                line-height: 30px;
                .expD_reviewLeftNum{
                    color: #484848;
                    display:inline-block;
                    font-size:18px;
                    margin-right: 10px;
                }
                .expD_reviewLeftStar{
                    display:inline-block;
                    font-size: 28px;
                    color:#008489;
                }
            }
        }
        .expD_reviewRight{
            display: inline-block;
            width: 70vw;
            .expD_reviewRightContent{
                text-align: left;
                color:#484848;
                hr{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                .expD_reviewRightInfo{
                    .expD_reviewRightNameStar{
                        margin-left: 20px;
                        display:inline-block;
                        font-size: 16px;
                        font-weight: 600;
                        .expD_reviewRightNameDate{
                            .expD_reviewRightName{
                                display:inline-block;
                            }
                            .expD_reviewRightDate{
                                font-size: 14px;
                                font-weight: 400;
                                display:inline-block;
                            }
                        }
                        .expD_reviewRightStar{
                            font-size: 20px;
                            // .expD_reviewRightStarColor{
                            //     position: relative;
                            //     display:inline-block;
                            //     color:gray;
                            //     .expD_reviewRightStarGray{
                            //         position: absolute;
                            //         top:0;
                            //         left: 0;
                            //         color:gold;
                            //         // width: 100%;
                            //         overflow:hidden;
                            //     }
                            //     .expD_reviewRightStarGrayHalf{
                            //         position: absolute;
                            //         top:0;
                            //         left: 0;
                            //         color:gold;
                            //         width: 50%;
                            //         overflow:hidden;
                            //     }
                            // }
                        }
                    }
                    .expD_reviewRightImage{
                        display:inline-block;
                        vertical-align: top;
                        width: 48px;
                        height: 48px;
                        img{
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .expD_reviewRightContent_Content{
                    font-size: 18px;
                }
            }
        }
    }


    header{
    border-bottom: 1px solid #0000002a;
    }
    .amenitiesShowAll{
        position: fixed;
        display:flex;
        z-index: 5000;
        background-color: #3a3a3a8c;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        display:none;
        .amenitiesShowAllContent{
            text-align: left;
            background-color:white;
            width: 50%;
            button{
                margin-left: 20px;
                margin-top: 20px;
                border-radius: 50%;
                border: none;
                outline:none;
                padding: 5px 10px;
                float:left;
                cursor: pointer;
                background-color:white;
                transition-duration: 0.3s;
                &:active{
                    background-color:rgb(228, 228, 228);
                }
            }
            .amenitiesTitle{
                font-weight: 600;
                text-align: center;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .amenitiesShowAllAmenities{
                border-radius: 4px;
                border: 1px solid #484848;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
                margin-right: 20px;
                margin-top: 2px;
                background-color: #00000007;
                margin-left: 20px;
            }
        }
    }
    .expD_ContentWrapper{
        width: 100%;
        height: 100%;
        .expD_Content{
            padding: 40px 48px;
            text-align: left;
            .expD_Insta{
                margin-right: 24px;
                display:inline-block;
                float:left;
                position: relative;
                .expD_Insta_Button{
                    position: absolute;
                    top:20px;
                    left:20px;
                    z-index: 1500;
                    cursor: pointer;
                    transition-duration: 0.3s;
                    font-size: 25px;
                    color:white;
                    // background-color:red;
                    // width: 35px;
                    text-align: center;
                    opacity: 1;
                    border: 2px solid transparent;
                    border-radius: 4px;
                    padding: 5px;
                    &:hover{
                        font-size: 24px;
                        // background-color:red;
                        border-width: 2px;
                        border-color: white;
                        opacity: 1;
                    }
                    &:active{
                        font-size: 23px;
                    }
                }
            }
            .expD_galleryTitle{
                color:#484848;
                font-size: 24px;
                font-weight: bold;
                display:flex;
                justify-content: space-between;
                .expD_galleryShowAll{
                    font-size: 16px;
                    color: #008489;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .expD_Description{
                .expD_galleryImg{
                    display:flex;
                    justify-content: center;
                    .expD_Img{
                        width: 100%;
                        img{
                            border: 2px solid black;
                            height: 100%;
                            width: 100%;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.8;
                                // width: 110%;
                            }
                        }
                    }
                }
                .expD_showAllAmenities{
                    margin-top: 20px;
                    border-radius: 4px;
                    padding: 11px 20px;
                    color:white;
                    border: none;
                    outline:none;
                    font-size: 12px;
                    font-weight: 600;
                    background-color:rgb(0, 132, 137);
                    transition-duration: 0.3s;
                    cursor: pointer;
                    &:active{
                        background-color:rgb(0, 109, 121);
                    }
                }
                .expD_provide{
                    // border-top: 0.8px solid #0f0f0fad;
                    // padding-top: 30px;
                    color: #484848;
                    margin-top: 50px;
                    .expD_provideTitle{
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                }
                .expD_header{
                    margin-left: 16px;
                    .expD_ShareSave{
                        float:right;
                        div{
                            display:inline-block;
                            background-color: #e6e6e6;
                            padding: 7px 15px;
                            border-radius: 4px;
                            margin-left: 20px;
                            cursor: pointer;
                            transition-duration: 0.5s;
                            &:active{
                                background-color: #b3b3b3;
                            }
                        }
                        // .expD_Save{
                        //     border-radius: 4px;
                        //     margin-left: 20px;
                        //     display:inline-block;
                        //     background-color: #e6e6e6;
                        //     padding: 7px 15px;
                        // }
                    }
                    .expD_theme{
                        font-size: 12px;
                        font-weight: 700;
                        color:rgb(72, 72, 72);
                        text-transform: uppercase;
                    }
                    .expD_title{
                        width: 80%;
                        font-size: 38px;
                        font-weight: 700;
                        color:rgb(72, 72, 72);
                        text-transform: uppercase;
                    }
                    .expD_location , .expD_time, .expD_benefit, .expD_language{
                        i{
                            span{
                                font-size: 18px;
                                font-weight: 300;
                                color:rgb(72, 72, 72);
                                margin-left: 10px;
                            }
                        }
                    }
                }
                hr{
                    color:#0000002a;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    border-width: 0.8px;
                }
            }
            .expD_expDetail{
                color:#484848;
                margin-top: 32px;
            }
            .expD_aboutWrapper{
                display:flex;
                width: 100%;
                justify-content: space-between;
                padding-bottom: 50px;
                border-bottom: 1px solid #0f0f0f70;
                .expD_about{
                    display:inline-block;
                    .expD_aboutTitle{
                        font-size: 18px;
                        font-weight: 600;
                        color:rgb(72, 72, 72);
                        margin-bottom: 10px;
                    }
                    .expD_aboutDescription{
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: 400;
                        color:rgb(72, 72, 72);
                    }
                }
                .expD_about_img{
                    display:inline-block;
                    width: 500px;
                    div{
                        // text-align: center;
                    }
                    margin-top: 30px;
                    img{
                        width: 72px;
                        height: 72px;
                        border-radius: 50%;
                    }
                    .expD_about_name{
                        font-size: 18px;
                        font-weight: 600;
                        color:rgb(72, 72, 72);
                    }
                    .expD_about_contact{
                        cursor:pointer;
                        font-size: 14px;
                        color : #008489;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.expD_Search{
    margin-top: 20px;
    button{
        padding: 11px 20px;
        display:block;
        border: none;
        border-radius: 4px;
        background-color: #008489;
        color: white;
        cursor: pointer;
        transition-duration: 0.5s;
        outline: none;
        &:active{
            background-color: #005153;
        }
    }
    textarea{
        resize: none;
        font-size: 20px;
        width: 50%;
        padding: 5px;
        border-radius: 4px;
        outline: none;
        border: 1px solid black;
        &:focus{
            border: 1px solid #008489;
        }
    }
}
.expD_ShareModalWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    display:none;
    z-index: 5000;
    background-color: #0505053b;
    // display:flex;
    justify-content: center;
    
    .expD_ShareModal{
        margin-top: 200px;
        height: 120px;
        width: 280px;
        background-color:white;
        div{
            width: 100%;
            height: 33%;
            text-align: center;
            cursor:pointer;
            transition-duration: 0.5s;
            &:active{
                opacity: 0.8;
            }
        }
        .expD_ShareFb{
            background-color: #3b5998;
            line-height: 40px;
            vertical-align: middle;
        }
        .expD_ShareGoogle{
            background-color:  #008744;
            line-height: 40px;
            vertical-align: middle;
        }
        .expD_ShareCopy{
            background-color: white;
            line-height: 40px;
            vertical-align: middle;
        }
    }
}
.page{
    display:inline-block;
    padding: 5px 10px;
    color:white;
    cursor: pointer;
    background-color: #008489;
    &:active{
        background-color: #005153;
    }
}