.expD_Wrapper{
    header{
    border-bottom: 1px solid #0000002a;
    }
    .expD_ContentWrapper{
        width: 100%;
        height: 100%;
        .expD_Content{
            padding: 40px 48px;
            .expD_Insta{
                margin-right: 24px;
            }
            .expD_Description{
                margin-left: 16px;
            }
        }
    }
}