.wrapper{
    height: 2000px;
    width: 100%;
    .header-contents{
        width: inherit;
        height: 1000px; 
        background-color:#fff;
        background-image: url("img/headerBg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .description{
            height: 100px;
            width: 300px;
            color:white;
            position: absolute;
            top: 900px;
            right: 0px;
        }
    }
    .bottom-contents{
        height: 1000px;
        width: 100%;
        display: inline-block;
    }
}
