.wrapper{
    height: 2000px;
    width: 100%;
    .header-contents{
        width: inherit;
        height: 1000px; 
        background-color:#fff;
        background-image: url("img/headerBg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .description{
            height: 100px;
            width: 300px;
            color:white;
            position: absolute;
            top: 900px;
            right: 0px;
        }
    }
    .bottom-contents{
        height: 1000px;
        width: 100%;
        display: inline-block;
        .grid-wrapper{
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            [class*='col-']{
                float: left;
                padding: 10px;
                box-sizing: border-box;
            }
            .xsmall-card{
                height: 100px;
                font-size: 10pt;
                font-weight: 400;
                color: #727272;
                p{
                    font-weight: 650;
                    font-size: 10pt;
                }
                @media all and (min-width: 600px) {
                    p{margin: 2px 0px}
                    .xsmall-card-content{
                        height: 100%;
                        width: auto;
                        display: flex;
                        box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
                        border-radius: 2px;
                        .xsmall-photo{
                            float: left;
                            height: 100%;
                            &.xs-photo{
                                background-repeat: no-repeat;
                                background-size: 100%;
                                &.xs-p-a{
                                    background-image: url("./img/smallcards/stays.jpg");
                                    width: 225px;
                                }
                                &.xs-p-b{
                                    background-image: url("./img/smallcards/experiences.jpg");
                                    width: 275px;
                                }
                                &.xs-p-c{
                                    background-image: url("./img/smallcards/restaurants.jpg");
                                    width: 225px;
                                }
                                &.xs-p-d{
                                    background-image: url("./img/smallcards/adventure.jpg");
                                    width: 225px;
                                }
                            }
                        }
                        .xsmall-photo-description{
                            box-sizing: border-box;
                            text-align: left;
                            padding: 10px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                @media all and (max-width: 600px) {
                    height: 200px;
                    p{margin: 0px 0px}
                    .xsmall-card-content{
                        height: 100%;
                        width: 100%;
                        border: 0.1px solid #F2F2F2;
                        display: block;
                        box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
                        border-radius: 5px;
                        .xsmall-photo{
                            float: left;
                            width: 100%;
                            height: 70%;
                            // border: 0.1px solid red;
                            &.xs-photo{
                                background-size: 100%;
                                background-repeat: no-repeat;
                                &.xs-p-a{
                                    background-image: url("./img/smallcards/stays.jpg");
                                }
                                &.xs-p-b{
                                    background-image: url("./img/smallcards/experiences.jpg");
                                }
                                &.xs-p-c{
                                    background-image: url("./img/smallcards/restaurants.jpg");
                                }
                                &.xs-p-d{
                                    background-image: url("./img/smallcards/adventure.jpg");
                                }
                            }
                        }
                        .xsmall-photo-description{
                            box-sizing: border-box;
                            text-align: justify;
                            padding: 10px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .big-card{
                height: 100%;
                .big-card-content{
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    background-color: rgb(244, 242, 239);
                    display: flex;
                    &.big-card-photo{
                        height: 100%;
                        width: 100%;
                        box-sizing: border-box;
                        &.big-card-photo-1{
                            height: 100%;
                            width: 100%;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            background-image: url("./img/bigcards/luxe-photo1.jpg");
                            background-position: center center;
                            .big-card-description{
                                height: 100%;
                                width: 100%;
                                box-sizing: border-box;
                                padding: 20px;
                                text-align: left;
                                color: white;
                                &.big-card-description-container{
                                    margin: 20px;
                                    width: 40%;
                                    a{
                                        width: 100%;
                                        text-decoration: none;
                                        color: white;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .medium-card{
                box-sizing: border-box;
                // border: 1px solid red;
                height: 65%;
                padding: 10px;
                clip-path: polygon(0 0 50% 0);
                .medium-card-slide{
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    // border: 1px solid blue;
                    border-radius: 3px;
                }
                .medium-card-slide:nth-of-type(1){
                    background-position: center center;
                    background-image: url("./img/mediumcards/paris.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .medium-card-slide:nth-of-type(2){
                    background-position: center center;
                    background-image: url("./img/mediumcards/london.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .col-md-12{width: 100%} 
            .col-md-6 {width: 50%}
            .col-md-4 {width: 33.3%}
            .col-md-3 {width: 25%}
            .col-slider-2{width: 20%}
            .col-md-2 {width: 16.6%}
            .col-md-1 {width: 8.3%}

            @media all and (min-width: 600px) {
                .explore-grid{
                    height: 200px;
                    width: 200%;
                    max-width: 1200px;
                    display: inline-block;
                    .explore-title{
                        color: #727272;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            @media all and (max-width: 600px) {
                .explore-grid{
                    height: 300px;
                    width: 200%;
                    max-width: 1200px;
                    display: inline-block;
                    .explore-title{
                        color: #727272;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            .luxe-grid{
                height: 500px;
                width: 100%;
                margin: 20px 0px;
                max-width: 1200px;
                display: inline-block;
                .luxe-title{
                    color: #727272;
                    text-align: left;
                    width: 100%;
                }
            }
            .recommendation-slider{
                height: 400px;
                width: 200%;
                max-width: 1600px;
                display: flex;
                // border: 1px solid green;
                .recommendation-grid{
                    width: 100vw;
                    // border: 0.1px solid blue;
                    display: inline-block;
                    .recommendation-title{
                        color: #727272;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            .slider-control{
                position: absolute;
                width: 100%;
                height: 400px;
                max-width: 1200px;
                // border: 1px solid black;
                display: inline-flex;
                align-items: center;
                .slider-controller-backward{
                    width: 50%;
                    height: 100px;
                    margin: 10px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    
                }
                .slider-controller-forward{
                    width: 50%;
                    height: 100px;
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    float: right;
                }
                .square-slider-backward{
                    cursor: pointer;
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 10px;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: 0.5px 0.5px 1.5px 0.5px #727272;
                    z-index: 3;
                    &:active{
                        border: 1px solid black;
                    }
                }
                .square-slider-forward{
                    cursor: pointer;
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 10px;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: 0.5px 0.5px 1.5px 0.5px #727272;
                    z-index: 3;
                    &:active{
                        border: 1px solid black;
                    }
                }
                .arrow-slider-backward{
                    height: 10px;
                    width: 10px;
                    margin-left: 5px;
                    border-width: 1px 1px 0 0;
                    border-style: solid;
                    border-color: black;
                    cursor: pointer;
                    z-index: 4;
                    transform: rotate(-135deg);
                }
                .arrow-slider-forward{
                    height: 10px;
                    width: 10px;
                    margin-right: 5px; 
                    border-width: 1px 1px 0 0;
                    border-style: solid;
                    border-color: black;
                    cursor: pointer;
                    z-index: 4;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
