@import"../utils.scss";
$strip-color: #cccccc;
$button-color: #ff5A5F;

.top-contents{
    width: 100%;
    padding: 1em 0em;
    text-align: start;
    .place-header-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .place-name-wrapper{
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            .place-name{
                width: 100%;
                font-size: 2em;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.75);
                .place-suburb{
                    width: 100%;
                    font-size: 0.5em;
                    font-weight: normal;
                }
            }
        }
        .place-host{
            width: 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .place-host-name{
                text-align: center;
                font-size: 1em;
                color: rgba(0, 0, 0, 0.75);
            }
            .place-host-photo{
                margin: 0.2em 0em;
                @include photo-setting;
                height: 3.5em;
                width: 3.5em;
                border-radius: 50%;
            }
        }
    }
    .place-detail{
        margin-top: 2em;
        width: 100%;
        color: rgba(0, 0, 0, 0.75);
        font-size: 1em;
        .room-type{
            font-weight: bold;
            padding: 0.5em 0em;
        }
        .room-info{
            border-bottom: 1px solid $strip-color;
            padding: 0.5em 4em;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}