.chatD_header{
    
    position: fixed;    
    z-index: 5000;
    background-color:white;
    width: 100%;
}
.chatD_fullImage{
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.486);
    position: fixed;
    z-index: 20000;
    padding: 0 10%;
    display: none;
    div{
        position: absolute;
        padding: 10px 20px;
        // background-color: #c9c9c9;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid white;
        transition-duration: 0.5s;
        &:active{
            border: 1px solid #484848;
            color: #484848;
        }
    }
    img{
        height: 100%;
        width: 100%;
    }
}
body{
    background-color:white;
}
.chatD_ContentWrapper{
    width: 100%;
    // min-height: 100vh;
    background-color: white;
    padding: 20px;
    .chatD_Content{
        width: 100%;
        // background-color: white;
        display: flex;  
        justify-content: row;
        .chatD_chatContentWrapper{
            width: 100%;
            padding-left: 5%;
            height: 100vh;
            position: relative;
            // background-color:black;
            .chatD_chatContent{
                // background-color:black;
                // position: fixed;
                position: relative;
                height: calc(100%-150px);
                margin-top: 100px;
                margin-bottom: 200px;
                // margin-left: 30%;
                // background-color: black;
                .chatD_chatC{
                    margin-left: 40%;
                    width: 60%;
                    // float:right;
                    // height: 100px;
                    .chatD_right{
                        // position: absolute;
                        position: absolute;
                        right: 0;
                        max-width: 95%;
                        width: auto;
                        margin-top: 20px;
                        position: relative;
                        .chatD_right_time{
                            color: grey;
                            width: 100%;
                            text-align: right;
                        }
                        .chatD_right_image{
                            // background-color: black;
                            width: 100%;
                            height: 50px;
                            img{
                                position: absolute;
                                right: 0;
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                            }
                        }
                        .chatD_right_message{
                            margin-top: 10px;
                            height: auto;
                            float:right;
                            border: 1px solid grey;
                            // display: inline-block;
                            border-radius: 4px;
                            padding: 10px;
                            margin-left: 100%;
                            display: inline-block;
                            img{
                                height: 200px;
                                width: 200px;
                                cursor: pointer;
                            }
                        }
                    }
                    .chatD_left{
                        max-width: 95%;
                        width: auto;
                        // background-color: black;
                        margin-top: 20px;
                        .DownloadImage{
                            background-color: #008489;
                            color: white;
                            padding: 10px 20px;
                            border-radius: 4px;
                            border: 1px solid #484848;
                            transition-duration: 0.5s;
                            cursor: pointer;
                            text-align: center;
                            &:active{
                                background-color: #004042;
                            }
                        }
                        .chatD_left_time{
                            color: grey;
                        }
                        .chatD_left_image{
                            width: 100%;
                            height: 50px;
                            img{
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                            }
                        }
                        .chatD_left_message{
                            margin-top: 10px;
                            border: 1px solid grey;
                            // display: inline-block;
                            border-radius: 4px;
                            padding: 10px;
                            width: auto;
                            display: inline-block;
                            img{
                                height: 200px;
                                width: 200px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .chatD_chatMessage{
                position: absolute;
                border-radius: 4px;
                bottom: 0;  
                height: 120px;
                // margin-left: 200px;
                background-color:grey;
                width: 60%;
                right: 0;
                position: fixed;
                // display: none;
                textarea{
                    width: 90%;
                    height: 70%;
                    padding: 20px;
                    resize: none;
                    margin: 0;
                    outline: none;
                    border-radius: 4px;
                }
                img{
                    float:right;
                    margin-right: 1%;
                    margin-top: 2%;
                    height: 65%;
                    width: 7%;
                    border-radius: 50%;
                }
                .chatD_chatMessageBottom{
                    width: 100%;
                    height: 30%;
                    #btnMessage{
                        display: none;
                    }
                    button{
                        float:right;
                        margin-right: 20px; 
                        border: 1px solid black;
                        outline: none;
                        padding: 5px 10px;
                        background-color: white;
                        border-radius: 4px;
                        transition-duration: 0.5s;
                        cursor: pointer;
                        // opacity: 0.2;
                        &:active{
                            background-color: rgba(255, 255, 255, 0.568);
                        }
                    }
                }
            }
        }

        .chatD_detailWrapper{
            border: 1px solid #c9c9c9;
            border-radius: 4px;
            padding: 50px;
            width: 30%;
            height: calc(100vh - 100px);
            bottom: 10px;
            position: fixed;
            .chatD_paymentDetail{
                .chatD_paymentTitle{
                    font-size: 24px;
                    color:black;
                    // font-weight: bold;
                }
                .chatD_payment{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                }
                hr{
                    margin: 0;
                    margin-top: 10px;
                }
            }

            .chatD_hostDetail{
                width: 100%;
                .chatD_hostImg{
                    width: 100%;   
                    display: flex;
                    justify-content: center;
                    img{
                        width: 40%;
                        border-radius: 50%;
                    }
                }
                div{
                    text-align: center;
                }
                .chatD_hostName{
                    font-size: 20px;
                    font-weight: bold;
                }
                .chatD_hostLocation{
                    color:grey; 
                }
                .chatD_hostReviews{
                    color:grey;
                }
            }

        }
    }

}

@media only screen and(max-width: 768px){
    .chatD_detailWrapper{
        display: none !important;
    }
    .chatD_chatMessage{
        width: 100% !important;
    }
    .chatD_chatC{
        margin: 0 !important;
        width: 100% !important;
    }
}

@media only screen and(max-width: 425px){
    .chatD_chatContent{
        margin-top: 50% !important; 
    }
    .chatD_chatMessage>img{
        width: 20% !important;
    }
    #txtMessage{
        width: 70% !important;
    }
}