.places_Wrapper{
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    min-height: 1px;
    height: 100vh;
    width: 100%;
    overflow: auto;
    .contents_wrapper{
        height: 100%;
        .list-wrapper{
            padding: 10px;
            height: 100%;
            .list-container{
                padding: 5px 10px;
                height: 100%;
                .frame-title{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    .title{
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: left;
                        font-weight: 800;
                        font-size: 24px;
                        color: #484848;
                    }
                }
                .frame-wrapper-category, .frame-wrapper-room{
                    width: 100%;
                    height: 100%;
                    .frame-container{
                        float: left;
                        padding: 5px;
                        overflow: hidden;
                        display: flex;
                        margin: 1% 0px;
                        border-radius: 5px;
                        border: 1px solid rgba(76,76,76,0.3);
                        .frame-photo{
                            width: 40%;
                            border-radius: 5px;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            background-position: center center;
                            transition-duration: 0.5s;
                            &:hover{
                                cursor: pointer;
                                background-size: 105% 105%;
                            }
                        }
                        .frame-desc{
                            width: 60%;
                            padding: 10px 15px;
                            height: 100%;
                            font-family: Helvetica;
                            display: block;
                            .desc-wrapper{
                                position: relative;
                                height: 100%;
                                .top-wrapper{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .room-type{
                                        text-align: justify;
                                        color: rgba(76,76,76,0.5);
                                        line-height: 20px;
                                        font-size: 14px;
                                        font-weight: 700;
                                    }
                                    .far{display: block; color: black}
                                    .fas{display: none; color: black}
                                }
                                .room-name{
                                    text-align: justify;       
                                    padding: 5px 0px;                      
                                    color: rgba(76,76,76,1);
                                    line-height: 26px;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                                .room-amenities{
                                    text-align: justify;                             
                                    color: rgba(76,76,76,1);
                                    line-height: 20px;
                                    font-size: 15px;
                                    font-weight: normal;
                                }
                                .room-informations{
                                    text-align: justify;                             
                                    color: rgba(76,76,76,1);
                                    line-height: 20px;
                                    font-size: 15px;
                                    font-weight: normal;
                                }
                                .room-rate-count{
                                    position: absolute;
                                    bottom: 0px;
                                    width: 100%;
                                    .rate-price-wrapper{
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        .room-star{
                                            display: flex;
                                            align-items: center;
                                            .count-rate{
                                                color: #767676;
                                                font-size: 14px;
                                                font-weight: normal;
                                            }
                                            .room-rate{
                                                color: teal;
                                                font-size: 16px;
                                                font-weight: normal;
                                            }
                                        }
                                        .room-price{
                                            text-align: right;
                                            width: 50%;
                                            color: #484848;
                                            line-height: 22px;
                                            font-size: 16px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                cursor: pointer;
                                background-size: 105%;
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            box-shadow: 0 0 10px rgba(76,76,76,0.25);
                        }
                    }
                    .frame-container-category{
                        float: left;
                        padding: 5px;
                        height: 100%;
                        border: 0.1px solid green;
                        display: inline-flex;
                    }
                    .page{
                        padding: 5px 5px; 
                        border: 0.1px solid turquoise;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .places_MapWidget{
        background-color: red;
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 40%;
        height: calc(100vh - 80px);   
    }
}