@import"./utils.scss";
$strip-color: #cccccc;
$button-color: #ff5A5F;

.place-detail-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    .top-nav{
        width: 100%;
        height: 10%;
        header{
            height: 100%;
            width: 100%;
            background-color:white;
            display:block;
        }
    }
    .contents-wrapper{
        height: 90%;
        .top-list-photos{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            .big-photos{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .big-photo{
                    @include photo-setting;
                    height: 50%;
                    transition-duration: 0.5s;
                    border: 1px solid #464646;
                    &:hover{
                        cursor: pointer;
                        background-size: 105% 105%;
                    }
                }
            }
            .small-photos{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .small-photo{
                    @include photo-setting;
                    height: 50%;
                    width: 50%;
                    transition-duration: 0.5s;
                    border: 1px solid #464646;
                    &:hover{
                        cursor: pointer;
                        background-size: 105% 105%;
                    }
                }
            }
        }
        .host-info-wrapper{
            height: 2000px;
            // overflow: auto;
            position: relative;
            .contents-wrapper{
                max-width: 1080px;
                margin: 0px auto;
                width: 100%;
                height: 100%;
                display: flex;
                .left-contents-wrapper{
                    height: 100%;
                    width: 60%;
                    .top-contents{
                        width: 100%;
                        height: 20%;
                        padding: 1vw 0vw;
                        text-align: start;
                        .place-header-wrapper{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: space-between;
                            .place-name{
                                height: 100%;
                                width: 90%;
                                font-size: 2.5vw;
                                font-weight: bold;
                                color: rgba(0, 0, 0, 0.75);
                                .place-suburb{
                                    font-size: 1vw;
                                    font-weight: normal;
                                }
                                
                            }
                            .place-host{
                                font-size: 1vw;
                                color: rgba(0, 0, 0, 0.75);
                                height: 40%;
                                width: 10%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                .place-host-photo{
                                    margin: 0.2vw 0vw;
                                    @include photo-setting;
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .place-detail{

                        }
                    }
                    .mid-contents{
                        width: 100%;
                        height: 30%;
                        border: 1px solid green;
                    }
                    .bot-contents{
                        width: 100%;
                        height: 50%;
                        border: 1px solid green;
                        .review-wrapper{
                            height: 100%;
                            width: 100%;
                            .review-heading-wrapper{
                                height: 20%;
                                width: 100%;
                                .review-heading{
                                    width: 100%;
                                    height: 30%;
                                    border: 1px solid $strip-color;
                                    display: flex;
                                    font-size: 2vw;
                                    font-weight: bold;
                                    align-items: center;
                                    justify-content: flex-start;
                                    color: rgba(0, 0, 0, 0.75);
                                    .overall-rating{
                                        padding: 0vw 0.5vw;
                                    }
                                }
                                .review-ratings{
                                    width: 100%;
                                    height: 70%;
                                    border: 1px solid red;
                                }
                            }
                            .reviews{

                            }
                        }
                    }
                }
                .right-contents-wrapper{
                    height: 100%;
                    width: 40%;
                    .book-modal{
                        top: 3vw;
                        height: 400px;
                        width: 90%;
                        margin-top: 2vw;
                        padding: 0vw 2vw;
                        position: sticky;
                        margin-left: auto;
                        border: 1px solid $strip-color;
                        .top-modal-wrapper{
                            width: 100%;
                            height: 20%;
                            padding: 1vw 0vw;
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid $strip-color;
                            .price-wrapper{
                                display: flex;
                                .price{
                                    font-size: 1.5vw;
                                    font-weight: bold;
                                    color: rgba(0, 0, 0, 0.75);
                                }
                                .price-info{
                                    padding: 0.2vw 0.3vw;
                                    display: flex;
                                    align-items: flex-end;
                                    font-size: 1vw;
                                    font-weight: bold;
                                    color: rgba(0, 0, 0, 0.75);
                                }
                            }
                            .rating{
                                display: flex;
                                justify-content: left;
                                font-size: 1vw;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                        .form-wrapper{
                            width: 100%;
                            height: 80%;
                            text-align: left;
                            .form-container{
                                height: 100%;
                                width: 100%;
                                .date-wrapper{
                                    height: 30%;
                                    width: 100%;
                                    .date-container{
                                        height: 100%;
                                        width: 100%;
                                        .text-date{
                                            padding: 0.5vw 0vw;
                                            display: flex;
                                            align-items: flex-end;
                                            width: 100%;
                                            height: 50%;
                                            font-weight: 700;
                                            font-size: 1vw;
                                            color: rgba(0, 0, 0, 0.75);  
                                        }
                                        .in-n-out-wrapper{
                                            width: 100%;
                                            height: 50%;
                                            display: flex;
                                            border-radius: 5px;
                                            border: 1px solid $strip-color;
                                            padding: 0.5vw 0.5vw;
                                            .date{
                                                outline: none;
                                                border: none;
                                                border-radius: 5px;
                                                width: 100%;
                                            }
                                            .arrow{
                                                margin: 0.5vw 1vw;
                                            }
                                        }
                                    }
                                }
                                .guest-wrapper{
                                    height: 30%;
                                    width: 100%;
                                    position: relative;
                                    color: rgba(0, 0, 0, 0.75);
                                    .input-guest{
                                        font-size: 1vw;
                                        padding: 1vw;
                                        height: 50%;
                                        width: 100%;
                                        outline: none;
                                        border-radius: 5px;
                                        border: 1px solid $strip-color;
                                        font-weight: 500;
                                        color: rgba(0, 0, 0, 1);   
                                    }
                                    .guest-type{
                                        display: none;
                                        position: absolute;
                                        background-color: white;
                                        width: 100%;
                                        height: 300px;
                                        overflow: hidden;
                                        border: 1px solid $strip-color;
                                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
                                        .controller-wrapper{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            padding: 1vw;
                                            .minus{
                                                pointer-events: none;
                                                cursor: pointer;
                                                color: rgba(0, 127, 128, 0.5);
                                                padding: 1vw;
                                            }
                                            .plus{
                                                cursor: pointer;
                                                color: rgba(0, 127, 128, 1);
                                                padding: 1vw;
                                            }
                                        }
                                        .adult-wrapper{
                                            @include guest-type-setting;
                                        }
                                        .child-wrapper{
                                            @include guest-type-setting;
                                        }
                                        .infant-wrapper{
                                            @include guest-type-setting;
                                        }
                                        .notes-wrapper{
                                            @include guest-type-setting;
                                            font-weight: normal;
                                            color: rgba(0, 0, 0, 0.75);
                                            font-size: 1vw;
                                        }
                                        .close-btn{
                                            @include guest-type-setting;
                                            justify-content: flex-end;
                                            color: teal;
                                            .close-text{
                                                cursor: pointer;
                                                &:hover{
                                                    border-bottom: 1px solid teal;
                                                }
                                            }
                                        }
                                    }
                                    .text-guest{
                                        padding: 0.5vw 0vw;
                                        height: 50%;
                                        width: 100%;
                                        display: flex;
                                        align-items: flex-end;
                                        font-weight: 700;
                                        font-size: 1vw;
                                        color: rgba(0, 0, 0, 0.75);   
                                    }
                                }
                                .book-wrapper{
                                    height: 30%;
                                    width: 100%;
                                    margin: 1.5vw 0vw;
                                    .btn-book{
                                        cursor: pointer;
                                        height: 50%;
                                        width: 100%;
                                        border: none;
                                        border-radius: 5px;
                                        background-color: $button-color;
                                        color: white;
                                        font-size: 1.1vw;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        outline: none;
                                        &:active{
                                            background-color: rgb(216, 61, 66);
                                        }
                                    }
                                    .info-text{
                                        width: 100%;
                                        height: 50%;
                                        font-size: 1vw;
                                        padding: 0.5vw;
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: center;
                                        color: rgba(0, 0, 0, 0.5);
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}