@import"./utils.scss";

.place-detail-wrapper{
    width: 100vw;
    height: 100vh;
    .top-nav{
        width: 100%;
        height: 10%;
        header{
            height: 100%;
            width: 100%;
            background-color:white;
            display:block;
        }
    }
    .contents-wrapper{
        height: 90%;
        .top-list-photos{
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .big-photos{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .big-photo{
                    @include photo-setting;
                    height: 50%;
                    transition-duration: 0.5s;
                    border: 1px solid #464646;
                    &:hover{
                        cursor: pointer;
                        background-size: 105% 105%;
                    }
                }
            }
            .small-photos{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .small-photo{
                    @include photo-setting;
                    height: 50%;
                    transition-duration: 0.5s;
                    border: 1px solid #464646;
                    &:hover{
                        cursor: pointer;
                        background-size: 105% 105%;
                    }
                }
            }
        }
        .host-info-wrapper{
            height: 40%;
            overflow: auto;
            border:1px solid green;
        }
    }
}