hr{
    border-color: rgba(128, 128, 128, 0.233);
}
.chat_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
    padding-bottom: 20px;
}
.chat_content{
    width: 60%;
    height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: row;
    // background-color: black;
}
.chat_chatInfo{
    color: grey;
    padding-top: 30px;
    text-align: center;
    margin-left: 5%;
}
.chat_chatContent{
    padding-top: 30px;
    margin-left: 10%;
    color: grey;
}
.chat_status{
    color: green;
}
.chat_price{
    color: grey;
}
.chat_starArchive{
    margin-top: 20px;
}
.chat_star, .chat_archive, .chat_starR, .chat_archiveR{
    display: inline-block;
    background-color: #008489;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 20%;
    &:active{
        background-color: #004346;
    }
}
.chat_starR, .chat_archiveR{
    display: none;
    // margin-left: 2%;
    margin: 0;
}
.chat_statusPrice{
    margin-left: 9%;
    padding-top: 30px;
}
.chat_image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 2%;
}
@media only screen and(max-width: 768px){
    .chat_content{
        width: 70% !important;
    }
}
@media only screen and(max-width: 425px){
    .chat_content{
        width: 100% !important;
    }
    .chat_wrapper{
        justify-content: unset !important;
        display: block;
    }
    .chat_star, .chat_archive{
        display: none;
    }
    .chat_starR, .chat_archiveR{
        display: block;
        width: 100% !important;
    }
}