hr{
    border-color: rgba(128, 128, 128, 0.233);
}
@media only screen and(max-width: 768px){
    .chat_content{
        width: 70% !important;
    }
}
@media only screen and(max-width: 425px){
    .chat_content{
        width: 100% !important;
    }
    .chat_wrapper{
        justify-content: unset !important;
        display: block;
    }
    .chat_star, .chat_archive{
        display: none;
    }
    .chat_starR, .chat_archiveR{
        display: block;
        width: 100% !important;
    }
}