.footer-contents{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 1.5em 0em;
    font-weight: 500;
    overflow: auto;
    ol{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
        padding: 0em 1em;
        .footer-contents-titles{
            display: block;
            list-style-type: none;
            text-align: left;
            color: #484848;
            padding: 1em 1em 0 0;
            .footer-contents-list{
                width: 100%;
                float: left;
                text-align: justify;
                a{
                    text-decoration: none;
                    color: #767676;
                }
            }
        }
    }
    hr{
        border: 0.5px solid #EAEAEA;
    }
    .footer-contents-logo-facebook{
        margin-top: 14px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        background-size: 60%;
        background-repeat: no-repeat;
        background-image: url("./img/facebook_icon.png")
    }
    .footer-contents-logo-twitter{
        margin-top: 14px;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        display: inline-block;
        background-size: 100%;
        background-image: url("./img/twitter_icon.png");
    }
    .footer-contents-logo-instagram{
        margin-top: 14px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        background-size: 100%;
        background-image: url("./img/instagram_icon.png");
    }
}