.recommendation-slider{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    padding: 0em 0em 2em 0em;
    .recommendation-grid{
        display: flex;
        flex-wrap: wrap;
        .card-wrapper{
            padding: 1em 0.5em;
            text-decoration: none;
            .small-card-wrapper{
                display: flex;
                flex-wrap: wrap;
                .small-card{
                    padding: 0.1em 0.1em;
                    cursor: pointer;
                    border-radius: 1%;
                    transition: 500ms ease;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    &:hover{
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }
                    .small-card-slide{
                        padding: 65% 0%;
                        border-radius: 3px;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .small-card-desc{
                        display: flex;
                        padding: 0.5em 0em;
                        flex-wrap: wrap;
                        text-align: left;
                        font-size: 20px;
                        .small-card-place-category{
                            width: 100%;
                            font-size: 0.8em;
                            color: rgba(0, 0, 0, 0.5);
                            font-weight: bold;
                        }
                        .small-card-place-name{
                            width: 100%;
                            font-weight: 650;
                            padding: 0.1em 0em;
                            font-size: 1em;
                            color: rgba(0, 0, 0, 0.8);
                        }
                        .small-card-place-price{
                            width: 100%;
                            font-size: 0.8em;
                            color: rgba(0, 0, 0, 0.8);
                        }
                        .small-card-place-rating{
                            width: 100%;
                            padding: 0.1em 0em;
                            font-size: 0.6em;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: rgba(0, 0, 0, 0.8);
                            .small-card-place-reputations{
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }
        }
        .recommendation-title{
            color: #727272;
            text-align: left;
            width: 100%;
        }
        .show-all-btn{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .link-to-place{
                font-weight: 600;
                font-size: 1.2em;
                color: teal;
                text-decoration: none;
            }
        }
    }
}