@mixin large-screen-container{ 
    .frame-container{
        float: left;
        padding: 0.2vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0.5vw 0px;
        border-radius: 3px;
        border: 1px solid rgba(76,76,76,0.25);
        .frame-photo{
            position: relative;
            @media all and (max-width:1024px){
                width:30%;
            }
            @media all and (min-width:1025px){
                width:40%;
            }
        }
        >.far{display: block; color: black; z-index: 1px}
        >.fas{display: block; color: red;}
        .frame-desc{
            @media all and (max-width:1024px){
                width:70%;
            }
            @media all and (min-width:1025px){
                width:60%;
            }
            text-decoration: none;
            padding: 0.7vw 1.2vw;
            font-family: Helvetica;
            display: flex;
            flex-wrap: wrap;
            .desc-wrapper{
                position: relative;
                width: 100%;
                .top-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .room-type{
                        text-align: justify;
                        color: rgba(76,76,76,0.5);
                        font-size: 0.9em;
                        font-weight: 700;
                    }
                    
                }
                .room-info-wrapper{
                    width: 100%;
                    text-decoration: none;
                    .room-name{
                        width: 100%;
                        text-align: justify;       
                        padding: 0.2vw 0px;                      
                        color: rgba(76,76,76,1);
                        font-size: 1.4em;
                        font-weight: bold;
                    }
                    .room-amenities{
                        width: 100%;
                        text-align: justify;                             
                        color: rgba(76,76,76,1);
                        font-size: 1em;
                        font-weight: normal;
                    }
                    .room-informations{
                        width: 100%;
                        text-align: justify;                             
                        color: rgba(76,76,76,1);
                        font-size: 1em;
                        font-weight: normal;
                    }
                    .room-rate-count{
                        width: 100%;
                        padding: 4em 0em 0em 0em;
                        .rate-price-wrapper{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            .room-star{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                .count-rate{
                                    color: rgba(76,76,76,0.75);
                                    font-size: 1vw;
                                    padding: 0vw 0.2vw;
                                    font-weight: normal;
                                }
                                .room-rate{
                                    font-size: 1em;
                                    font-weight: normal;
                                }
                            }
                            .room-price{
                                text-align: right;
                                width: 50%;
                                color: #484848;
                                font-size: 1em;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            &:hover{
                cursor: pointer;
                background-size: 105%;
            }
        }
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 10px rgba(76,76,76,0.25);
        }
    }
    .frame-container-category{
        float: left;
        padding: 5px;
        border: 0.1px solid green;
        display: inline-flex;
    }
    .page{
        padding: 5px 5px; 
        border: 0.1px solid turquoise;
        display: flex;
        justify-content: center;
    }
}