$basic-color: #008489;

.place-wrapper{
    background-color: white;
    .place-tabs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: all 100ms ease-in-out;
        .tab{
            cursor: pointer;
            padding: 1em;
            border-radius: 5px 5px 0 0;
            width: 30%;
            transition: all 100ms ease-in-out;
        }
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .place-container{
        
    }
}