$basic-color: #008489;

.basic-info-place-wrapper{
    display: block;
    .title{
        border: none;
        margin: 0;
        h1{
            margin: 0.5em 0em;
            font: normal bolder 2em helvetica, sans-serif;
            padding: 0.5em 0em;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5)
        }
    }
    .sub-title{
        padding: 0.5em;
        color: rgba(0, 0, 0, 0.75);
        font: normal bolder 1.5em helvetica, sans-serif;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5)
    }
    .inputs{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .input{
            textarea{
                margin: 1em 1em;
                outline: none;
                width: 100%;
                border-radius: 5px;
                border: 1px solid $basic-color;
                padding: 0.5em;
                font : normal normal 1em helvetica, sans-serif;
            }
            .note{
                font: italic normal 0.8em helvetica, sans-serif; 
            }
            .gw-have-container{
                @media all and (max-width:425px) {
                    display: block;
                }
                @media all and (min-width:426px) {
                    display: flex;
                }
                .gw-have{
                    padding: 1em;
                    >label{
                        color: #5A585C;
                        font: normal bold 1em helvetica, sans-serif;
                    }
                    >div{
                        color: #5A585C;
                        font: normal normal 1em arial, sans-serif;
                    }
                }
            }
        }
        .location-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .input-wrapper{
                @media all and (min-width:1025px) {
                    width: 50%;
                }
                @media all and (max-width:1024px) {
                    width: 100%;
                }
            }
            .map-widget{
                @media all and (min-width:1025px) {
                    width: 50%;
                }
                @media all and (max-width:1024px) {
                    width: 100%;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
                height: 35em;
            }     
        }
    }
}