$basic-color: #008489;

.experience-photo-wrapper{
    @media all and (min-width:1025px) {
        position: absolute;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;     
        overflow: auto; 
    }
    @media all and (max-width:1024px) {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .file-container{
        padding: 2em;
        margin: 1em auto;
        height: 45%;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        outline: 5px dashed rgba(0, 0, 0, 0.25);
        outline-offset: -15px;
        border-radius: 5px;
        background-color: rgba(230, 254, 255, 1);
        position: relative;
        >i{
            width: 100%;
            color: rgba(0, 125, 127, 0.5);
        }
        #image{
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
        }
        label{
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 1em;
            color: white;
            font: normal normal 1em helvetica, sans-serif;
            background-color: rgba(0, 125, 127, 1);
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 125, 127, 0.75);
            }
        }
    }
    .editor-wrapper{
        width: 80%;
        display: block;
        margin: auto;
        >div{
            margin: 1em;
            display: flex;
            float: left;
            justify-content: space-between;
            align-items: center;
            color: rgba(0, 0, 0, 0.75);
            >input{
                width: 40%;
                padding: 0.5em;
            }
            >div{
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                >button{
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.75);
                    background-color: transparent;
                    outline: none;
                    width: 100%;
                    border-radius: 5px;
                    border: 2px solid $basic-color;
                    padding: 0.5em;
                    &:hover{
                        color: white;
                        background-color: $basic-color;
                    }
                }
            }
        }
        .btn-implement{
            margin: auto;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn{
                cursor: pointer;
                color: rgba(0, 0, 0, 0.75);
                width: 100%;
                border-radius: 10px;
                border: 2px solid $basic-color;
                padding: 0.5em;
                &:hover{
                    color: white;
                    background-color: $basic-color;
                }
            }
        }
    }
    .url-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        .photo-container{
            width: 50%;
            height: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .url-container{
            width: 50%; 
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            >.url{
                width: 100%;
                padding: 0.2em 0em;
                color: rgba(0, 0, 0, 1);
                font: normal normal 1em helvetica, sans-serif;
                >i{
                    margin-right: 1em;
                    color: $basic-color;
                }
            }
        }
    }
    .btn-next{
        width: 80%;
        margin: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .error{
            display: none;
            color: red;
            font: normal normal 1em helvetica, sans-serif;
        }
        .btn{
            cursor: pointer;
            color: rgba(0, 0, 0, 0.75);
            width: 20%;
            border-radius: 10px;
            border: 2px solid $basic-color;
            padding: 0.5em;
            &:hover{
                color: white;
                background-color: $basic-color;
            }
        }
    }
}